@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         macCord
    @description  A Discord theme aiming to match macOS.
    @author       sdhEmily
    @namespace    https://github.com/sdhEmily/macCord/
    @version      1
    ==/UserStyle== */

/*
----------Accents---------
> Only one Accent can be uncommented at a time.
*/

@import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/blue.css'); 
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/purple.css'); */
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/pink.css'); */
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/red.css'); */
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/orange.css'); */
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/yellow.css'); */
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/green.css'); */
/* @import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/fixations/additions/accents/graphite.css'); */

/*
-----------Source---------
> This is the core of the entire theme
> It is essential that you do not touch this url, unless you know what you are doing.
*/
@import url('https://raw.githubusercontent.com/sdhEmily/macCord/main/src/source.css');

/*
/*
-----------Font---------
> Designed by Apple in California - https://developer.apple.com/fonts/ 
*/

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url("https://Cinnab0nBak3ry.github.io/AppleFontsCSS/Apple-fonts.css");

code, .codeBlockText-28BOxV, .codeLine-2C-9aH, .markup-eYLPri code.inline, .after_inlineCode-2_JXPm, .before_inlineCode-1zngJj, .inlineCode-ERyvy_ {
  font-family: "SF Mono",mono,monospace;
}

* {
  --font-primary: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
  --font-display: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
  --font-headline: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
  text-rendering: optimizeLegibility;
  text-transform: none !important;
  letter-spacing: 0.015em;

  /* font-weight: bold !important; */
}


/* 
///////////////////////////
//Customise macCord Below//
///////////////////////////
*/

:root {
  --macCordBackground: rgb(31, 30, 30);
  --macCordBackground2: rgb(42, 40, 44);
  --macCordTextBackground: rgb(30, 30, 30);
  --macCordFriendsBackground: rgb(33, 31, 35);
  --macCordFriends: rgb(40, 38, 42);
  --macCordActiveNow: rgba(88, 84, 85, 0.276);
  --macCordGuilds: rgb(42, 40, 44);
  --macCordTitleBar: rgb(55, 53, 55);
  --macCordSearch: rgb(53, 51, 55);
  --macCordHover: rgb(65, 63, 66);
  --macCordBorder: rgb(78,78,81);
}

}
