:root {
    --accent: rgb(	251, 192, 45);
    --accent-hover: rgba(	251, 192, 45, 0.977);
    --accent-selected: rgb(251, 192, 45, 0.612);
    --accent-focused: rgb(251, 192, 45, 0.200);
    --brand-360: var(--accent);
    --brand-500: var(--accent);
    --brand-560: var(--accent-hover);
    --button-secondary-background-hover: var(--accent-hover);
    --button-secondary-background-active: var(--accent-selected);
    --brand-600: var(--accent-selected);
  }
